
body{
    color: white;
    background-color: rgb(13, 17, 27);
    margin: 0; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 15px;
    font-style: oblique;
    color: skyblue;
}
.main-conter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conter-card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 84%;
    align-items: center;
    justify-content: center;
}

.monster-card-fire {
    background-image: linear-gradient(red, yellow);
    width: 300px;
    height: 164px;
    padding: 10px;
    box-sizing: border-box; /* para que el padding no afecte el tamano de la caja */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.monster-card-water {
    background-image: linear-gradient(blue, skyblue);
    width: 300px;
    height: 164px;
    padding: 10px;
    box-sizing: border-box; /* para que el padding no afecte el tamano de la caja */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.monster-card-ground {
    background-image: linear-gradient(green, greenyellow);
    width: 300px;
    height: 164px;
    padding: 10px;
    box-sizing: border-box; /* para que el padding no afecte el tamano de la caja */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.data-monster p{
    margin: 0px;
    font-size: 18px;
}

/* canvas */
#mapa-gamer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mapa{
    border: 2px solid skyblue;
    width: 58%;
}

img{
    width: 160px;
    margin-right: -16px;
}

input{
    display: none; 
}

input:checked + label {
    opacity: 1;
    margin-top: -14px;
}

button{
    background-color: rgba(155, 135, 235, 0.201);
    width: 180px;
    border-radius: 30px;
    border: 2px solid rgba(209, 209, 252, 0.943);
    padding: 10px;
    margin-top: 30px;
    color: white;
}

button:disabled{
    opacity: 0.6;
}

.grup-btn-conter-atack button{
    width: 110px;
    margin: 10px 4px;
}

#atack-select{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-imgs-players{
    display: flex;
    align-items: center;
    gap: 58px;
}

#img-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-enemy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 14px;
    border-radius: 20px;
    border: 2px solid rgba(57, 249, 23, 0.772);
    box-shadow: 2px 2px 22px 2px rgba(57, 249, 23, 0.295);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.msm-advantage{
    font-size: 14px;
    color: skyblue;
}

.result{
    font-weight: bold;
    color: rgba(57, 249, 23, 0.772);
    font-size: 20px;
    margin: 0px
}

#result{
    font-weight: bold;
    color: rgba(57, 249, 23, 0.772);
    font-size: 20px;
    margin: 0px
}

#btn-restart{
    margin-top: 10px;
    width: 180px;
}

.msm-draw{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -24px 0px;
}

.container-msm-combat{
    display: grid;
    grid-template-columns: 100px 100px;

}
.sub-container-msm{
    display: flex;
    align-items: center;
}
.sub-container-msm p {
    margin-right: 5px;
}

#monster-player{ 
    font-weight: bold;
}
#monster-enemy{
    font-weight: bold;
}

#life-player{
    font-size: 28px;
    font-weight: bold;
}
#life-enemy{
    font-size: 28px;
    font-weight: bold;
}
#draw{
    font-size: 28px;
    font-weight: bold;
}
.sub-dub-container-pyl, .sub-dub-container-eny{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 720px) {
    .conter-card{
        flex-direction: column;
    }

    .grup-btn-conter-atack{
        display: flex;
        flex-direction: column;
    }

    #messages{
        width: 236px;
    }
}